<html>

    <head>
        <title>My Requests</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
         <link rel="stylesheet" href="../css/main.css">
         <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
        </script>
    
    <title>Manager Task</title>
    
    
    
    </head>

    <body>
        <div class="topnav" id="myTopnav">
            <a href="users.html">Home</a>
            
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
              </a>
        </div>
        
        <main class="container-fluid mx-auto " style="padding: 0 7.5em;">
            <br>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Reimb_ID</th>
                        <th scope="col">Description</th>
                        <th scope="col">Submitted Date</th>
                        <th socop="col"> Resolved Date</th>
                        <th scope="col">Status</th>
                        <!-- <th scope="col">Status</th> -->

                    
                    </tr>
                </thead>
                <tbody id="tasks-tbody">


                </tbody>
            </table>
            <button type ="button" id="infoo">View</button>
           
          
        </main>
        
    </body>

    
<script src="../scripts/main.js"></script>
<!-- <script src="../scripts/userrequests.js"></script> -->
<script src="../scripts/userrequests.js"></script>



</html>